---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %}
                    {% if post.gamejam == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ post.link }}">{{ post.title }}</a><br />
                            <img src={{ post.image }} alt="" style="float:left; padding:0px 10px 0px 0px">
                            <p class="small" style="margin-top:-8px";>
                                <time datetime="{{ post.date }}">{{ post.longdate }}</time><br />
                                {{ post.position }}<br />
                                {{ post.language }}<br />
                                {{ post.excerpt }}
                            </p>
                            <a style="margin-top: 0px" href="{{ post.link }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="post-title">
                    <h1>Game Jams</h1>
                </div>
                <div class="post-list">
                    {% for post in site.posts %}
                    {% if post.gamejam %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src={{ post.image }} alt="" style="width:180px; height:180px; float:left; padding:0px 10px 0px 0px">
                            <a class="zoombtn" href="{{ post.link }}">{{ post.title }}</a>
                            <p>
                                <time datetime="{{ post.date }}">{{ post.longdate }}</time><br />
                                {{ post.jam }}<br />
                                {{ post.language }}<br />
                                {{ post.excerpt }}
                            </p>
                            <a href="{{ post.link }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
